@import "src/variables.module";

.mainContainer {
  * {
    margin: 0;
    transition: all ease-in $transition-duration;
  }
  height: 100vh;


  .leftNavbar {
    background-color: $gray-3;
    max-width: 100vw;
    border-right: 1px solid $gray-5;
    position: fixed;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    z-index: 1;

    .logo {
      padding: $spacing-1-5  $spacing-0-5;
      width: 100%;
      height: 2rem;
      position: relative;

      .toggleNavbarIcon {
        opacity: 0;
      }

      &:hover {
        .toggleNavbarIcon {
          opacity: 1;
        }
      }
    }
  }
  .leftNavbarOpen {
    width: 16rem;
  }
  .leftNavbarOpenPage {
    margin-left: 16rem;
  }

  .navOption {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;


    padding: $spacing-0-5 / 4 $spacing-0-5 / 2;
    &:hover {
      background-color: $gray-5;
    }
  }
  .navOptionBold {
    @extend .navOption;
    font-weight: $fontWeight-bold;
  }
  .navOptionLightBold {
    @extend .navOptionBold;
    opacity: .75;
  }
}

.pageContainerContainer {
  overflow: auto;
  max-height: calc(100vh - 40px);
  justify-content: center;
}
.pageOptions {
  height: 40px;
}

.pageContainer {
  padding-bottom: 30vh;
  padding-left: 75px;
  padding-right: 75px;

  *[contenteditable] {
    outline: none;
  }
}

@media screen and (max-width: 650px) {
  .leftNavbarOpen {
    width: 16rem !important;
    position: absolute !important;
  }
  .leftNavbarOpenPage {
    margin-left: 0 !important;
  }
}