@import "src/variables.module";

$padding-inner: $spacing-0-5;

.iconSelector {
  position: absolute;
  background-color: $gray-2;
  margin: 0 $spacing-1;
  width: 350px;
  max-width: 95vw;
  border-radius: $border-radius / 2;

  box-shadow: 0 1px 3px 0 $gray-6;
}

.iconSelectorOptions {
  padding: $padding-inner;

  .iconOption {
    color: $gray-8;
    padding: 0;

    &:hover {
      background-color: $gray-3;
    }
  }
}

.iconSearchContainer {
  padding: $padding-inner / 2;

  input {
    padding: 0 $spacing-0-5 !important;
    background-color: $gray-3;
  }
}

.iconSelectorIconsContainer {
  padding: 0 $padding-inner $padding-inner;
  flex-wrap: wrap;
  max-height: 350px;
  overflow: auto;

  .emoji {
    font-size: 1.25em;
    cursor: pointer;

    &:hover {
      scale: 1.25;
    }
  }
}

.iconSelectorHidden {
  opacity: 0;
}