/* variables.module.scss */
$primary-color: #04a3cb;
$secondary-color: #d60a54;
$header_height: 60px;
$header_layout_gap: $header_height;

// Colors
$white: #ffffff;
$black: #000000;
$gray-1: #f6f8f9;
$gray-1a: #f4f6f6;
$gray-2: #edf1f2;
$gray-3: #e0e6e8;
$gray-4: #d5dce0;
$gray-5: #b7bfc6;
$gray-6: #9ca6af;
$gray-7: #848f99;
$gray-8: #646f79;
$gray-9: #222b37;
$gray-10: #151b26;
$green-1: #e2fffa;
$green-2: #b0fff1;
$green-3: #58f5d9;
$green-4: #25e8c8;
$green-5: #00bf9c;
$teal-1: #edf8ff;
$teal-2: #95e0ff;
$teal-3: #32c1ff;
$teal-4: #14aaf5;
$teal-5: #008ce3;
$purple-1: #f0f0ff;
$purple-2: #aba3ff;
$purple-3: #9287ff;
$purple-4: #796eff;
$purple-5: #635ac7;
$gold-1: #fffede;
$gold-2: #fff78f;
$gold-3: #ffe01b;
$gold-4: #fcbd01;
$gold-5: #f2a100;
$orange-1: #f9dc00;
$orange-2: #ffba00;
$orange-3: #ff7f00;
$coral-1: #ffedef;
$coral-2: #ff9ca5;
$coral-3: #ff7381;
$coral-4: #ff5263;
$coral-5: #ed4758;

$shadow-color: rgb(36, 50, 66);
$shadow-10: 0 3px 5px 0 rgba(36, 50, 66, 0.2);
$shadow-20: 0 11px 12px 0 rgba(36, 50, 66, 0.12);
$shadow-30: 0 20px 30px 0 rgba(36, 50, 66, 0.14);
$shadow-40: 0 50px 60px 0 rgba(36, 50, 66, 0.15);

$transition-duration-short: 75ms;
$transition-duration: 150ms;
$transition-duration-med: 225ms;
$transition-duration-long: 300ms;
$transition-duration-xlong: 450ms;

$fontWeight-thin: 300;
$fontWeight-light: 300;
$fontWeight-normal: normal;
$fontWeight-medium: 400;
$fontWeight-semibold: 500;
$fontWeight-bold: 600;

$spacing-0: 0;
$spacing-0-5: 8px;
$spacing-1: 16px;
$spacing-1-5: 24px;
$spacing-2: 32px;
$spacing-3: 48px;
$spacing-4: 64px;
$spacing-5: 80px;
$spacing-6: 96px;
$spacing-7: 112px;
$spacing-8: 128px;
$spacing-9: 144px;
$spacing-10: 160px;

$border-radius: 4px; // default for mui

$fontFamily-base: "'Open Sans', sans-serif";
$fontFamily-title: "'Raleway', sans-serif";


:export { // These can be used inside js files
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
}