Hey <%= name %>
<br/><br/>

You're almost there!<br/>
<br/>

Thank you for signing up for Hoopla! Click the button below to verify your email, and we'll help you get started.
<br/>
<br/>

<a
        href="<%= domain %>/auth/verify?code<%= token %>"
        target="_blank"
        rel='noopener noreferrer'
        style="
                                                font-family: 'PT Sans', Arial,
                                                  Helvetica, sans-serif;
                                                font-size: 16px;
                                                line-height: 20px;
                                                font-weight: 700;
                                                font-style: normal;
                                                color: #000000;
                                                text-decoration: none;
                                                letter-spacing: 0px;
                                                padding: 15px 35px 15px 35px;
                                                display: inline-block;
                                              "
><span>VERIFY ME</span></a
>