@import "src/variables.module";

.signupContainer {
  height: calc(100vh - #{$header_height} * 2);
  padding: $header_layout_gap / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .signupTitle {
    font-weight: $fontWeight-bold;
    margin-bottom: $spacing-1;
  }
  .signupSubtitle {
    margin-bottom: $spacing-3;
  }

  .inputRow {
    min-width: 540px;
    max-width: 100vw;
    margin-bottom: $spacing-1-5;

    .inputField{
      margin-right: $spacing-1-5;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .submit {
    margin-top: $spacing-1-5;
  }

  .externalSignup {
    padding: 0 $spacing-1-5;
    font-size: 1.15rem;
  }
}