@import "src/variables.module";

* {
  margin: 0;
  transition: all ease-in $transition-duration;
}

a {
  color: inherit;
}

.button-primary-bg-black {
  background-color: $black;
  color: $white;
  font-weight: $fontWeight-bold;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.button-primary-bg-black-hover {
  background-color: $black;
  color: $white;
  font-weight: $fontWeight-bold;
  letter-spacing: 1px;
  font-size: 1.25rem;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.button-primary-bg-white {
  background-color: $white;
  color: $black;
  font-weight: $fontWeight-medium;
  font-size: 1.25rem;

  &:hover {
    background-color: $gray-1;
  }
}

.alert-container-error {
  color: $coral-5;
  background-color: $coral-1;
  border: 1px solid $coral-3;
  padding: $spacing-0-5;
  border-radius: $border-radius;

  margin-bottom: -$spacing-0-5;
}

.alert-container-success {
  color: $teal-5;
  background-color: $teal-1;
  border: 1px solid $teal-3;
  padding: $spacing-0-5;
  border-radius: $border-radius;

  margin-bottom: -$spacing-0-5;
}